# COGS 108 - Final Project

# Overview

*Fill in your overview here*

# Names

- Oprah Winfrey
- Miley Cyrus
- Sam Smith
- J. Cole

# Group Members IDs

- A########
- A########
- A########
- A########

# Research Question

*Fill in your research question here*

## Background and Prior Work

*Fill in your background and prior work here* 

References (include links):
- 1) Forbes: Key Trends Impacting Burger King's Business
https://www.forbes.com/sites/greatspeculations/2014/07/01/key-trends-impacting-burger-kings-business/#14ec06933cd0
- 2)

# Hypothesis

*Fill in your hypotheses here*

# Dataset(s)

*Fill in your dataset information here*

(Copy this information for each dataset)
- Dataset Name:
- Link to the dataset:
- Number of observations:

1-2 sentences describing each dataset. 

If you plan to use multiple datasets, add 1-2 sentences about how you plan to combine these datasets.

*Number of fast food restaurants*
https://www.statista.com/statistics/196619/total-number-of-fast-food-restaurants-in-the-us-since-2002/
*McDonald's gross profit*
https://www.macrotrends.net/stocks/charts/MCD/mcdonalds/gross-profit
*Beef prices*
https://www.indexmundi.com/commodities/?commodity=beef&months=60
*Producer price index for potatos*
https://fred.stlouisfed.org/series/WPU024502

# Setup

In [ ]:
# imports
import pandas as pd

In [58]:
# read the table from mcdonald's profit website
df_list_mc = pd.read_html("https://www.macrotrends.net/stocks/charts/MCD/mcdonalds/gross-profit")

# McDonald's annual profit from 2005 to 2018
mc_annual_profit = df_list_mc[0]

# McDonald's quarterly profit from 2005 Q1 to 2019 Q1
mc_quarter_profit = df_list_mc[1]

mc_quarter_profit.head()

,McDonald's Quarterly Gross Profit(Millions of US $),McDonald's Quarterly Gross Profit(Millions of US $).1
0,Q1 2019,"$2,536"
1,Q4 2018,"$2,697"
2,Q3 2018,"$2,822"
3,Q2 2018,"$2,740"
4,Q1 2018,"$2,528"

In [55]:
# read the list from beef price
df_list_beef = pd.read_html("https://www.indexmundi.com/commodities/?commodity=beef&months=60")

# table of beef price from May 2014 to April 2019
monthly_beef_price = df_list[1]

monthly_beef_price.head()

      Month  Price   Change
0  May 2014   4.28        -
1  Jun 2014   4.41   3.04 %
2  Jul 2014   5.02  13.83 %
3  Aug 2014   5.72  13.94 %
4  Sep 2014   6.00   4.90 %

In [57]:
# read the monthly potato price from 1990-12-01 to 2019-03-01
monthly_potato_price = pd.read_excel("Producer Price Index for Potato.xls")

# rename the producer price index
monthly_potato_price = monthly_potato_price.rename(index=str, columns={"WPU024502": "Producer Price Index"})

monthly_potato_price.head()

        DATE  Producer Price Index
0 1990-12-01                 100.0
1 1991-01-01                 100.8
2 1991-02-01                 100.9
3 1991-03-01                 100.7
4 1991-04-01                 100.6

In [69]:
establishments = pd.read_excel("Number of establishments in the United States fast food industry.xlsx")
establishments

,Unnamed: 0,Unnamed: 1,Unnamed: 2
0,NaN,NaN,NaN
1,NaN,Number of establishments in the U.S. fast food...,NaN
2,NaN,Number of establishments in the United States ...,NaN
3,NaN,NaN,Number of establishments
4,NaN,2004,201667
5,NaN,2005,207396
6,NaN,2006,211023
7,NaN,2007,217992
8,NaN,2008,217938
9,NaN,2009,217622
10,NaN,2010,220492
11,NaN,2011,225122
12,NaN,2012,228723
13,NaN,2013,232611
14,NaN,2014,236333
15,NaN,2015,240115
16,NaN,2016,241379
17,NaN,2017,243698
18,NaN,2018,247191

In [3]:
## YOUR CODE HERE

# Data Cleaning

Describe your data cleaning steps here.

In [4]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION

# Data Analysis & Results

Include cells that describe the steps in your data analysis.

In [5]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION

# Ethics & Privacy

*Fill in your ethics & privacy discussion here*

# Conclusion & Discussion

*Fill in your discussion information here*