In [12]:
import pandas as pd

In [27]:
temp = pd.read_excel("Producer Price Index for Potato.xls")

In [28]:
temp

          DATE  WPU024502
0   1990-12-01      100.0
1   1991-01-01      100.8
2   1991-02-01      100.9
3   1991-03-01      100.7
4   1991-04-01      100.6
5   1991-05-01      100.6
6   1991-06-01      100.9
7   1991-07-01      101.0
8   1991-08-01      100.6
9   1991-09-01      100.9
10  1991-10-01      100.8
11  1991-11-01      101.1
12  1991-12-01      100.6
13  1992-01-01      100.4
14  1992-02-01       99.4
15  1992-03-01       99.5
16  1992-04-01       99.8
17  1992-05-01       99.7
18  1992-06-01       98.3
19  1992-07-01       98.6
20  1992-08-01       98.5
21  1992-09-01      100.4
22  1992-10-01      100.1
23  1992-11-01      102.1
24  1992-12-01      103.5
25  1993-01-01      103.2
26  1993-02-01      103.3
27  1993-03-01      103.4
28  1993-04-01      104.9
29  1993-05-01      105.9
..         ...        ...
310 2016-10-01      191.7
311 2016-11-01      192.1
312 2016-12-01      192.1
313 2017-01-01      196.3
314 2017-02-01      197.9
315 2017-03-01      197.9
316 2017-04-01      197.9
317 2017-05-01      197.9
318 2017-06-01      197.9
319 2017-07-01      198.4
320 2017-08-01      198.4
321 2017-09-01      201.1
322 2017-10-01      203.4
323 2017-11-01      203.4
324 2017-12-01      204.2
325 2018-01-01      206.3
326 2018-02-01      206.3
327 2018-03-01      206.5
328 2018-04-01      206.7
329 2018-05-01      206.7
330 2018-06-01      207.9
331 2018-07-01      207.9
332 2018-08-01      207.9
333 2018-09-01      211.4
334 2018-10-01      211.5
335 2018-11-01      211.5
336 2018-12-01      207.8
337 2019-01-01      208.0
338 2019-02-01      208.0
339 2019-03-01      208.0

[340 rows x 2 columns]