In [6]:
import pandas as pd
# read data from web link
r = pd.read_html("https://www.qsrmagazine.com/content/qsr50-2017-top-50-chart")
# create new dataFrame from the first data frame of the list
df = r[0]
df

,0,1,2,3,4,5,6,7,8,9
0,QSR 50 Rank,Company,Change in Position,Category,2016 U.S. Systemwide Sales (millions),2016 U.S. Average Sales Per Unit (thousands),Number of Franchised Units in 2016,Number of Company Units in 2016,Total Units in 2016,Total Change in Units from 2015
1,1,McDonald's*,-,Burger,36389.00,2550.00,13046,1109,14155,-104
2,2,Starbucks*1,-,Snack,14795.40,1123.25,5292,7880,13172,651
3,3,Subway,-,Sandwich,11300.00,422.52,26744,0,26744,-359
4,4,Wendy's,2,Burger,9510.00,1454.80,6207,330,6537,58
5,5,Burger King*,-1,Burger,9749.19,1361.43,7111,50,7161,35
6,6,Taco Bell,-1,Ethnic,9353.80,1510.00,5399,879,6278,157
7,7,Dunkin' Donuts*,-,Snack,8200.00,928.86,8828,0,8828,397
8,8,Chick-fil-A,-,Chicken,7973.50,4407.10,1730,372,2102,119
9,9,Pizza Hut,-,Pizza,5751.40,740.00,7371,318,7689,-133
10,10,Domino's*,1,Pizza,5335.20,993.33,4979,392,5371,171
11,11,Panera Bread,-1,Sandwich,5200.00,2700.00,1134,908,2042,70
12,12,Sonic*,1,Burger,4504.14,1284.00,3201,356,3557,31
13,13,KFC,1,Chicken,4483.30,1060.00,3966,201,4167,-103
14,14,Chipotle,-2,Ethnic,3904.38,1868.00,0,2198,2198,227
15,15,Carl's Jr./Hardee's*,-,Burger,3761.00,1249.00,2774,237,3011,53
16,16,Dairy Queen,1,Snack,3621.00,1268.05,4515,2,4517,6
17,17,Arby's,-1,Sandwich,3600.00,1117.00,2314,1044,3358,17
18,18,Little Caesars*,-,Pizza,3523.25,815.00,3809,514,4323,65
19,19,Jack in the Box,-,Burger,3445.00,1530.00,1838,417,2255,6
20,20,Popeyes Louisiana Kitchen*,-,Chicken,3140.30,1488.00,2029,55,2084,77
21,21,Papa John's,-,Pizza,3013.79,875.85,2739,702,3441,53
22,22,Panda Express,-,Ethnic,2903.04,1606.00,95,1798,1893,91
23,23,Whataburger,1,Burger,2181.35,2706.00,122,684,806,15
24,24,Jimmy John's,-1,Sandwich,2146.60,841.70,2584,63,2647,242
25,25,Zaxby's*,-,Chicken,1891.98,2318.60,677,139,816,91
26,26,Five Guys,-,Burger,1382.01,1038.24,914,507,1421,101
27,27,Culver's,-,Burger,1301.38,2252.20,597,8,605,46
28,28,Bojangles',-,Chicken,1229.48,1818.43,407,309,716,54
29,29,Steak n Shake,-,Burger,1027.00,1900.00,153,415,568,17
30,30,Wingstop,2,Chicken,943.30,1113.00,977,21,998,153
31,31,Papa Murphy's,-1,Pizza,884.77,592.96,1369,168,1577,41
32,32,Checkers/Rally's,1,Burger,837.36,1114.89,541,300,841,12
33,33,Jersey Mike's Subs*,7,Sandwich,825.00,695.03,1134,53,1187,139
34,34,Qdoba Mexican Eats,-,Ethnic,801.00,1179.00,332,367,699,38
35,35,Church's Chicken,-4,Chicken,800.27,724.00,838,238,1076,-55
36,36,El Pollo Loco,-1,Chicken,795.44,1988.00,259,201,460,27
37,37,Del Taco,-,Ethnic,738.08,1359.00,310,241,551,7
38,38,White Castle,1,Burger,716.71,1434.52,0,384,384,-6
39,39,Tim Hortons*,-1,Snack,713.09,1044.06,683,0,683,-201
40,40,Moe's Southwest Grill,3,Ethnic,688.04,1142.53,675,5,680,43
41,41,Firehouse Subs,-,Sandwich,683.53,690.00,1005,32,1037,93
42,42,Boston Market*,2,Chicken,659.16,1426.74,5,457,462,4
43,43,Jason's Deli,-1,Sandwich,646.59,2609.00,109,155,264,4
44,44,In-N-Out Burger*,1,Burger,630.03,1975.00,0,319,319,6
45,45,Baskin-Robbins*,1,Snack,603.60,237.83,2538,0,2538,9
46,46,McAlister's Deli,1,Sandwich,591.30,1646.13,355,32,387,26
47,47,Noodles & Company,4,Ethnic,560.56,1075.00,75,457,532,44
48,48,Auntie Anne's,1,Snack,548.00,493.80,1284,16,1300,48
49,49,Captain D's,-1,Seafood,544.43,1059.00,227,289,516,3
50,50,Jamba Juice*,-,Snack,536.92,639.95,767,72,839,21